@media (max-width: 991px) {
    .promo {
        &__wrapper {
            align-items: center;
        }

        &__header {
            font-size: 32px;
        }

        &__subheader {
            font-size: 19px;
        }

    }

    .header {
        margin: 0 20px 0 20px;

        &__official {
            display: none;
        }
    }

    .advantages {
        &__items {
            margin: 0 20px 0 20px;
        }
    }

    .consultation {
        .container {
            max-width: 617px;
        }

        &__descr {
            text-align: center;
            font-size: 18px;
        }

        .feed_form {
            margin: 0 auto;
            margin-top: 50px;
        }
    }

    .titel {
        &_left {
            font-size: 26px;
            text-align: center
        }
    }



}

@media (max-width: 575px) {


    .advantages {
        &__items {
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

    .header {
        &__contacts {
            display: none;

        }
    }

    .promo {
        &__icons {
            display: none;
        }

        min-height: 532px;

        &__header {
            text-align: center;
        }

        &__subheader {
            text-align: center;
        }

    }

    @media (max-width: 320px) {
        .promo {

            .button_main {
                width: 250px;
            }

            &__link {
                font-size: 13px;
            }
        }

        .advantages {
            .titel {
                font-size: 20px;
            }

            &__item {
                margin-top: 10px;
            }
        }
    }

    .consultation {
        min-height: 589px;

        .feed_form {
            width: 250px;
        }

        &__descr {
            font-size: 15px;
        }
    }

    .titel {
        &_left {
            font-size: 22px;
            text-align: center
        }
    }
}